/*css for S3D profiles*/


h3{
    font-weight: 400;
}

p, select, options{
    font-family: 'Oswald', sans-serif;
}

ul{
    padding-left: 0px;
}
#button{
    padding-bottom: 15px;
}


.title{

    text-align: center;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container{
    width: 90%;
    font-family: 'Oswald', sans-serif;
    align-content: center;
}

.row{
    display:grid;
    grid-template-columns: 50% 50%;
    font-family: 'Oswald', sans-serif; 
}


.dropdown-category{
    text-align: right;
    padding-right: 5px;
}

dropdown-content{
    float: left;
}

.center{
    width: 100%;
    text-align: center;
    padding-top: 15px; 
}

.selection{
    width: 100%;
    text-align: center;
    
}

